

@import url("https://refact0r.github.io/system24/build/system24.css");


body {
	/* font, change to '' for default discord font */
	--font: "IosevkaB";
	/* change to '' for default discord font */
	--code-font: "IosevkaB";
	/* change to '' for default discord font */
	font-weight: 300;
	/* text font weight. 300 is light, 400 is normal. DOES NOT AFFECT BOLD TEXT */
	letter-spacing: -0.05ch;
	/* decreases letter spacing for better readability. recommended on monospace fonts.*/

	/* sizes */
	--gap: 12px;
	/* spacing between panels */
	--divider-thickness: 4px;
	/* thickness of unread messages divider and highlighted message borders */
	--border-thickness: 2px;
	/* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */
	--border-hover-transition: 0.2s ease;
	/* transition for borders when hovered */

	/* animation/transition options */
	--animations: on;
	/* off: disable animations/transitions, on: enable animations/transitions */
	--list-item-transition: 0.2s ease;
	/* transition for list items */
	--dms-icon-svg-transition: 0.4s ease;
	/* transition for the dms icon */

	/* top bar options */
	--top-bar-height: var(--gap);
	/* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
	--top-bar-button-position: titlebar;
	/* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
	--top-bar-title-position: off;
	/* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
	--subtle-top-bar-title: off;
	/* off: default, on: hide the icon and use subtle text color (like old discord) */

	/* window controls */
	--custom-window-controls: off;
	/* off: default window controls, on: custom window controls */
	--window-control-size: 14px;
	/* size of custom window controls */

	/* dms button options */
	--custom-dms-icon: off;
	/* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
	--dms-icon-svg-url: url("");
	/* icon svg url. MUST BE A SVG. */
	--dms-icon-svg-size: 90%;
	/* size of the svg (css mask-size property) */
	--dms-icon-color-before: var(--icon-secondary);
	/* normal icon color */
	--dms-icon-color-after: var(--white);
	/* icon color when button is hovered/selected */
	--custom-dms-background: off;
	/* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
	--dms-background-image-url: url("");
	/* url of the background image */
	--dms-background-image-size: cover;
	/* size of the background image (css background-size property) */
	--dms-background-color: linear-gradient(70deg,
			var(--blue-2),
			var(--purple-2),
			var(--red-2));
	/* fixed color/gradient (css background property) */

	/* background image options */
	--background-image: off;
	/* off: no background image, on: enable background image (must set url variable below) */
	--background-image-url: url("");
	/* url of the background image */

	/* transparency/blur options */
	/* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
	--transparency-tweaks: off;
	/* off: no changes, on: remove some elements for better transparency */
	--remove-bg-layer: off;
	/* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
	--panel-blur: off;
	/* off: no changes, on: blur the background of panels */
	--blur-amount: 12px;
	/* amount of blur */
	--bg-floating: var(--bg-3);
	/* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

	/* other options */
	--small-user-panel: on;
	/* off: default user panel, on: smaller user panel like in old discord */

	/* unrounding options */
	--unrounding: on;
	/* off: default, on: remove rounded corners from panels */

	/* styling options */
	--custom-spotify-bar: on;
	/* off: default, on: custom text-like spotify progress bar */
	--ascii-titles: on;
	/* off: default, on: use ascii font for titles at the start of a channel */
	--ascii-loader: system24;
	/* off: default, system24: use system24 ascii loader, cats: use cats loader */

	/* panel labels */
	--panel-labels: on;
	/* off: default, on: add labels to panels */
	--label-color: var(--text-muted);
	/* color of labels */
	--label-font-weight: 500;
	/* font weight of labels */
}

[class*="pill_"] span[class*="item__"] {
    background-color: var(--highprimary) !important;
}


/* color options */
:root {
	--colors: on;
	/* off: discord default colors, on: midnight custom colors */

	--backprimary: #000000;
	--backsecondary: #1a1a1a;
	--backtertiary: #2a2a2a;
	--backquaternary: #3a3a3a;
	--backquinary: #4a4a4a;
	--backsenary: #5a5a5a;
	--backseptenary: #6a6a6a;
	--backoctonary: #7a7a7a;
	--backnonary: #8a8a8a;
	--backdecenary: #9a9a9a;
	--backundenary: #aaaaaa;
	--backduodenary: #bababa;

	--foreprimary: #ce7688;
	--foresecondary: #ba6a7b;
	--foretertiary: #a05969;
	--forequaternary: #965363;
	--forequinary: #8e4e5d;
	--foresenary: #804654;
	--foreseptenary: #6f3d49;
	--foreoctonary: #5d333c;
	--forenonary: #49272f;
	--foredecenary: #381e24;
	--foreundenary: #2a171b;
	--foreduodenary: #1d0f12;

	--highprimary: #c1b48e;
	--highsecondary: #b5a985;
	--hightertiary: #a49978;
	--highquaternary: #968c6e;
	--highquinary: #897f63;
	--highsenary: #7a7158;
	--highseptenary: #69614c;
	--highoctonary: #5a5341;
	--highnonary: #4e4838;
	--highdecenary: #403c2e;
	--highundenary: #332f24;
	--highduodenary: #221f18;

	/* text colors */
	--text-0: var(--bg-4);
	/* text on colored elements */
	--text-1: var(--foreprimary);
	/* other normally white text */
	--text-2: var(--foresecondary);
	/* headings and important text */
	--text-3: var(--highprimary);
	/* normal text */
	--text-4: var(--forequaternary);
	/* icon buttons and channels */
	--text-5: var(--forequinary);
	/* muted channels/chats and timestamps */

	/* background and dark colors */
	--bg-4: var(--backprimary);
	/* main background color */
	--bg-3: var(--backsecondary);
	/* spacing, secondary elements */
	--bg-2: var(--backtertiary);
	/* dark buttons */
	--bg-1: var(--backquaternary);
	/* dark buttons when clicked */
	--hover: var(--backsecondary);
	/* channels and buttons when hovered */
	--active: var(--backsenary);
	/* channels and buttons when clicked or selected */
	--active-2: var(--backseptenary);
	/* extra state for transparent buttons */
	--message-hover: var(--hover);
	/* messages when hovered */

	/* accent colors */
	--accent-1: var(--highprimary);
	/* links and other accent text */
	--accent-2: var(--highsecondary);
	/* small accent elements */
	--accent-3: var(--hightertiary);
	/* accent buttons */
	--accent-4: var(--highquaternary);
	/* accent buttons when hovered */
	--accent-5: var(--highquinary);
	/* accent buttons when clicked */
	--accent-new: var(--red-2);
	/* stuff that's normally red like mute/deafen buttons */
	--mention: linear-gradient(to right,
			color-mix(in hsl, var(--accent-2), transparent 90%) 40%,
			transparent);
	/* background of messages that mention you */
	--mention-hover: linear-gradient(to right,
			color-mix(in hsl, var(--accent-2), transparent 95%) 40%,
			transparent);
	/* background of messages that mention you when hovered */
	--reply: linear-gradient(to right,
			color-mix(in hsl, var(--text-3), transparent 90%) 40%,
			transparent);
	/* background of messages that reply to you */
	--reply-hover: linear-gradient(to right,
			color-mix(in hsl, var(--text-3), transparent 95%) 40%,
			transparent);
	/* background of messages that reply to you when hovered */

	/* status indicator colors */
	--online: var(--green-2);
	/* change to #40a258 for default */
	--dnd: var(--red-2);
	/* change to #d83a41 for default */
	--idle: var(--yellow-2);
	/* change to #cc954c for default */
	--streaming: var(--purple-2);
	/* change to ##9147ff for default */
	--offline: var(--text-4);
	/* change to #82838b for default offline color */

	/* border colors */
	--border-light: var(--hover);
	/* general light border color */
	--border: var(--active);
	/* general normal border color */
	--border-hover: var(--accent-2);
	/* border color of panels when hovered */
	--active: var(--foreprimary);
	/* neutral border color of buttons */

	/* base colors */
	--red-1: oklch(75% 0.13 0);
	--red-2: oklch(70% 0.13 0);
	--red-3: oklch(65% 0.13 0);
	--red-4: oklch(60% 0.13 0);
	--red-5: oklch(55% 0.13 0);

	--green-1: oklch(75% 0.12 170);
	--green-2: oklch(70% 0.12 170);
	--green-3: oklch(65% 0.12 170);
	--green-4: oklch(60% 0.12 170);
	--green-5: oklch(55% 0.12 160);

	--blue-1: oklch(75% 0.11 215);
	--blue-2: oklch(70% 0.11 215);
	--blue-3: oklch(65% 0.11 215);
	--blue-4: oklch(60% 0.11 215);
	--blue-5: oklch(55% 0.11 215);

	--yellow-1: oklch(80% 0.12 90);
	--yellow-2: oklch(75% 0.12 90);
	--yellow-3: oklch(70% 0.12 90);
	--yellow-4: oklch(65% 0.12 90);
	--yellow-5: oklch(60% 0.12 90);

	--purple-1: oklch(75% 0.12 310);
	--purple-2: oklch(70% 0.12 310);
	--purple-3: oklch(65% 0.12 310);
	--purple-4: oklch(60% 0.12 310);
	--purple-5: oklch(55% 0.12 310);
}

/* overriding system24 loader logo with ascii wired */
@container body style(--ascii-loader: system24) {
    .text_a2f514 {
        display: none !important;
    }
    
    .content_a2f514::before {
        content: '\A\A\A                                                                                                    \A                                                                                                    \A                                                .::.                                                \A                                              :!!!!!!:                                              \A                                       ..::^^^!777777!~^^:::.                                       \A                                  .:^~~!!!!!!!7777777!!!!!!!!~~^:.                                  \A                              .:^~!!!!!!!!!!7777777777777!!!!!!!!!~^:.                              \A                            :~!!!!!!!77777777???????????77777777!!!!!!~:.                           \A                         .^!!!!!77777???????JJJJJJJJJJJ???????7777777!!!!^.                         \A                       .^!!!77777????JJJYYYY555555555555YYYJJJJ???777777!7!^.                       \A                     .:!77???????JJJYY555PPPPPPGGGGGGPPPPPP555YYJJ???7????77!^.                     \A                   :~7?7???JJJ?JJYY55PPPPGGPP5YJJ???JY5PPGGPPPP55YJJJ?JJJ????77!^.                  \A                .^!7?????JJJJJJY55PPPPGP5?!^:.        ..^!?YPGPPPP5YYYJJJJJ???7777!^.               \A             .^!7777??????JJYYY5PPPPG57^                    :75GGPPP55YJJJ??J???77777~:.            \A          .:~!77777777???JJYY5PPPPG5!.                        .!5GPPPP5YYJJ??77??777777!^.          \A        .^~!7777777777?JJJYY5PPPPG?.             ..             .?PPPPP5YYJJJ?7777777777!!^.        \A       ^!!!!777~~777???JYYY5PPPPP7         ..::::::::::..         !PPPPP5YYYJ???777!~7777!!!^       \A     .~!!!!77!: !777??JYYY5PPPPG?         ::::::::::::::::.        7GPPPP5YYYJ???77!..~777!!!~.     \A    .~!!!!77:  :777??JYYYY5PPPP5.       .::::::::::::::::::.       .5PPPPPYYYYJ???77:  :!7!!!!~:    \A    ~!!!!!7:   ^77???JYYY5PPPPG?        ::::::::::::::::::::        7GPPPP5YYYJ???77~   :77!!!!~    \A   .~!!!!7!.   ^77??JJYYY5PPPPG7        ::::::::::::::::::::        !GPPPP5YYYJJ??7?~    !7!!!!~.   \A    ^!!!!77^   ^77??JYYYY5PPPPGJ        ::::::::::::::::::::        ?GPPPP5YYYJJ??7?^   ^77!!!!~    \A    .~!!7777~. .77??JYYYY5PPPPPP^        ::::::::::::::::::        :PPPPPP5YYYJJ??7?: .~777!!!!.    \A     .~!777777^.!7??JJYYY55PPPPGY.        .::::::::::::::.        .JGPPPP55YYYJJ??7!.^777777!~.     \A       :!7777??77???JJYYY555PPPPGY.         ..::::::::..         .JGPPPPP55YYYJJ??777??7777!:       \A         :!77????JJJJJYYYY555PPPPG5~                            ~5GPPPPP55YYYYJJJJJJ???77!^.        \A           :~7???JJJYYYYYYY555PPPPGPJ^.                       ^JPGPPPP555YYYYYYYYJJJ??7~:           \A             .^!?JJJYYYY5555555PPPPPGP57^.                .^7YPGPPPPP555YY5YYYYYJJJ?!^.             \A       .^^~~^.  .^!?YYYYY55555555PPPPPGGP5J7~^        :~7J5PGGPPPPP55555555YYYYYJ7~.  :^~~^:.       \A      .!!!7777:    .^!JYY555555555PPPPPPPPGGGY        JGGGPPPPPPPP555555555YYJ7^.    ^7777!!~.      \A      :!!!!!77~       .7JYYY55YY55555PPPPPPPGJ        JGPPPPPPP55555YYY5YYYJ7:       ~777!!!!:      \A       :~!!!!^          :7JJYYYYYY55555PPPPPGJ        JGPPPPP55555YYYYYYJJ7^         .^!!!!~:       \A         ...              :!?YYYYYY5555PPPPPGJ        JGPPPPP555YYYYYYYJ!:              ...         \A                            .^7JYYYYYY55PPPPGJ        JGPPPP5YYYYYYYJ7~.                            \A                               .^!?YYY55PPPPGJ        JGPPPP5YYYY?!^.                               \A                                   .^~7J5555PJ        ?P5555?7~^:                                   \A                       .:::.           !5Y555?        ?555Y5!           .:::.                       \A                      ^!7777:          !YYYYY?        7YYYYY~          .7777!^                      \A                     .!!!777~          !JJJJY7        7YJJJJ7          ~7777!!:                     \A                     :!!!!!7!         :??????7        !J?????:         !7!!!!!:                     \A                     .~!!!!!!^.    ..^77777??~        ~??77777^..    .^!!!!!!~.                     \A                      .~!!!!!!!~~~!!!7777777!.        .!77777777!!~~!!!!!!!!~:                      \A                       .^~!!!!!!!!!!!!!!77!^            ^!77!!!!!!!!!!!!!!~^.                       \A                         .:^~~!!!!!!!!~~^:                :^~~!!!!!!!!~~^:.                         \A                             .........                        ...:.....                             \A                                                                                                    \A                                                                                                    \A\A\A and you don\'t seem to understand...\A\A\A' !important;
        
        font-size: 10px !important;
        background: linear-gradient(
            to right,
            var(--foreprimary) 0%,
            var(--foresecondary) 14%,
            var(--foretertiary) 28%,
            var(--forequaternary) 42%,
            var(--forequinary) 56%,
            var(--forequaternary) 70%,
            var(--foretertiary) 84%,
            var(--foresecondary) 92%,
            var(--foreprimary) 100%
        ) !important;
        background-clip: text !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        background-size: 200% auto !important;
    }
}